/* SCREEN SIZES MEDIA QUERIE */
@media(min-width: 480px){
    #landing #landing-nav{
        display: block;
    }
}
@media (min-width: 768px){
    #articles{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #articles #box1{
        display: flex;
        border-bottom: 2px solid black;
        justify-content: center;
        align-items: center;
    }
    #articles #box2{
        display: flex;
        border-bottom: 2px solid black;
        justify-content: center;
        align-items: center;
    }
    #articles .title{
        flex:1;
        border: none;
        padding:0 10px;
    }

}
@media (min-width: 900px) {
    main, header{
        max-width: 2048px;
    }
    main{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0;
    }
    main #sidebar{
        display: block;
    }
    main #sidebar{
        flex:1;
        order:2;
    }
    main #section-container{
        flex:6;
        order:1;
        margin: 1%;
    }
}

/*
La breakpoints recomendados para media queries son:
@media (min-width: 480px) {
@media (min-width: 768px) {
@media (min-width: 900px) {
@media (min-width: 1024px) {
@media (min-width: 1200px) {

    */